@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6f264f;
  --primary-light: #8b3d67;
  --surface: #f9f9ff;
}

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
}
